$color-pri: rgb(82, 188, 250);
$color-pri-light: rgb(82, 188, 250, 0.445);
$color-sec: rgb(172, 17, 233);
$color-sec-light: rgb(172, 17, 233, 0.274);
$text-pri: white;

$pc-width: 75%;
$tab-width: 90%;
$phone-width: 100%;
